:root {
    --miliseconds: 0s
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.metronome {
    max-width: 700px;
    max-height: 700px;
    position: relative;
    margin: 4em auto;
}
input[type=range]{
    -webkit-appearance: none;
    transform: rotateZ(90deg);
    width: 450px;
    position: absolute;
    bottom: 100px;
    right: 415px;
    transform-origin: right center;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 31px;
    background: #E4C05C;
    border: none;
    padding-left: 20px;
    padding-right: 60px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #E4C05C;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: black;
    margin-top: -10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E4C05C;
}
label {
    border: 1px solid black;
    padding: 0.7em 2em;
    position: absolute;
    top: 610px;
    left: 220px;

}
button {
    padding: 1em 2em;
    border: none;
    outline: none;
    border-radius: 10px;
    position: absolute;
    font-size: 20px;
    color: black;
}
.start-button {
    background: green;
    top: 535px;
    left: 90px;
}
.stop-button {
    background: red;
    top: 535px;
    left: 350px;
    
}
button:disabled {
    background: gray;
}
.BPM.animation {
    animation: metronome var(--miliseconds) linear infinite;
}

@keyframes metronome {
    0%, 100% {
        transform: rotateZ(115deg);
    }
    50% {
        transform: rotateZ(65deg);
    }
}